<div class="page h-full flex justify-center items-center">
    <div class="page-content">
        <div class="flex items-center justify-evenly animate-pulse m-4">
            @for(icon of icons; track icon) {
            <mat-icon>{{ icon }}</mat-icon>
            }
        </div>
        <h1 class="text-4xl m-4">
            {{ welcomeMessage }}
        </h1>
        <p class="text-center">
            <app-button [label]="entireListMessage" [redirectedTo]="'icons'"></app-button>
        </p>
    </div>
</div>