@import "../styles/partials/spacing";
@import "../styles/partials/variables";
@import "../styles//partials/spacing";
@import "../styles/partials/layout";
@import "../styles/partials/typography";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}